@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

:root {
    --primary: #fc6e6e;
    --secondary: #ff5731;
    --Tetiary: #f27f32;
    --Additional_Color: #f77a0c;
    --Background_Color: #fffafa;
    --text-color: #0e0e0e;
    /* --active: rgba(240, 170, 40, 0.849); */
    --nav-text: rgb(138, 183, 228);
    /* --layout: solid 1px rgb(253, 105, 112); */
    --cards: rgb(220, 232, 240);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--Background_Color);
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--Background_Color);
    width: 100%;
    height: auto;
}

header img {
    width: 80px;
    height: 65px;
    padding: 2px;
}

header h1 {
    font-size: 2.5rem;
    display: block;
    margin-block-start: 0.6em;
    margin-inline: auto;
}

#menu::before {
    content: "☰";
}

nav {
    border-radius: 5px;
    font-size: smaller;
    position: absolute;
    padding: 5px;
    margin: 4px;
    right: 10px;
    background-color: var(--primary);
    z-index: 1;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: none;
}

nav a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav .active {
    background-color: #ffe4c5;
    border-radius: 15px;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "❌";
}

.background {
    /* border-radius: none; */
    position: relative;
    /* text-align: end; */
}

.background img {
    height: 25rem;
    width: 100%;
}

.keynote {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
}

.keynote a {
    text-decoration: none;
    color: var(--text-color);
}

.keynote a:hover {
    text-decoration: underline;
}




/* Larger Views ******************************/
@media (min-width: 980px) {
    nav {
        align-self: flex-end;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        display: block;
        flex: 1 1 100%;
    }

    nav ul li a {
        text-align: center;
    }

    #menu::before {
        display: none;
    }
}